<div class="panel panel-default">
  <div class="panel-heading">Basket</div>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let product of basket">
      {{product.title}} <span class="label label-primary pull-right">{{product.price}}€</span>
    </li>
  </ul>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Order</div>
  <div class="panel-body">
    <form (submit)="checkout()" #customerForm="ngForm" novalidate>
      <div class="form-group" [class.has-error]="!name.valid">
        <label class="control-label" for="name">Name</label>
        <input type="text" id="name" class="form-control" [(ngModel)]="customer.name" name="name" required #name="ngModel">
      </div>

      <div class="form-group" [class.has-error]="!address.valid">
        <label class="control-label" for="address">Address</label>
        <textarea id="address" class="form-control" [(ngModel)]="customer.address" name="address" required #address="ngModel"></textarea>
      </div>

      <div class="form-group" [class.has-error]="!creditCard.valid">
        <label class="control-label" for="creditCard">Credit card number</label>
        <input id="creditCard" class="form-control" [(ngModel)]="customer.creditCard" name="creditCard" pattern="^[0-9]{3}-[0-9]{3}$" #creditCard="ngModel">
        <span class="help-block" [hidden]="creditCard.valid">Invalid pattern. Example : 123-456</span>
      </div>

      <div class="col-xs-12">
        <button type="submit" class="btn btn-success pull-right" [disabled]="!customerForm.valid">
          Validate
        </button>
      </div>
    </form>
  </div>
</div>
